app/build/
app/dist/
app/api/__pycache__/
app/__pycache__/
app/html/
app/tools/
app/utils/__pycache__/
app/data/__pycache__/
app/server/__pycache__/
app/sql/
app/config/
app/db/
app/postgis-data/
app/postgis/__pycache__/
app/api/routers/__pycache__/
app/postgis/base/__pycache__/
app/postgis/server/__pycache__/
model-data/
app/llm/__pycache__/
